<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="style.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <img src="{% static "images/shell.png" %}" class="cp_keyframes" alt="">
        <div class="cp_item">shell-shell-campaign</div>
        -->
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <script src="{% static 'javascript/sample.js' %}"></script>
 
        <title>Login page</title>
    </head>
    
    {% block content %}
    <body>
        <h1>login or sing Up?</h1>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">login</button>
        </form>
        
        <p><a href="{% url 'account:user_create' %}">sign Up</a></p>

    </body>
    {% endblock %}
 
</html>